<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Student Portal</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/82c4b53bff.js" crossorigin="anonymous"></script>
    
    <!-- (Optional) Use CSS or JS implementation -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
      integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <!-- Bootstrap CSS v5.0.2 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
<style>
    
  </style>
  
  <script>
    document.getElementsByTagName("body")[0].classList.add("bg-dark");
    document.getElementsByTagName("body")[0].classList.add("text-light");
  </script>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
      <a href="#" id="nav-brand" class="navbar-brand">Posted Notifications</a>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-3">
            <a href="/teacher/home" class="nav-link">Home</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  

  <div class="container">
      <div class="row">
          <!-- Single Posted Notification -->
          
       <% if(foundNotifications.length>0){  %>

       <% foundNotifications.forEach((e) => { %>
            <form action="/teacher/postedNotification" method="post">
                <div class="list-group mt-4">
                    <div class="list-group-item border-info ">
                      <div class="card">
                          <div class="card-header">
                            <div class="d-flex">
                              <div class="text-muted my-2 "><%= e.postedTime.toLocaleString("en-US") %></div>
                              <div class="text-muted my-2 ms-auto float-right">Posted To : <%= e.department%> dept, <%= e.year%> Year </div>
                            </div>
                            <div class="d-flex">
                                  <div class="h6"><%= e.notificationTitle %></div>
                                  <div class="ms-auto">
                                  <button type="submit" class="btn btn-outline-secondary " value="<%= e._id %>" name="update"> UPDATE </button>
                                  <button type="submit" class="btn btn-outline-dark " value="<%= e._id %>" name="delete"> DELETE </button>
                             </div>
                          </div>
                          </div>
                          <div class="card-body"><%= e.notificationMessage %></div>
                      </div>
                    </div>
                </div>
              </form>
        <% }) %>

       <% } %>

       <% if(foundNotifications.length===0){ %>
        <div class="d-flex">
            <p class="text-light h5 mt-5  mx-auto">Haven't Posted Any Notification</p>
        </div>
      <%  } %>

      </div>
  </div>


</body>
</html>